:host {
    width: 100%;
}

.header  {
    align-items: center;
    background: linear-gradient(to right, #e91f64, #c51844);
    color: #FFFFFF;
    display: flex;
    height: 80px;
    padding: 0 1.5rem;

    &__logo {
        display: flex;
        gap: 1rem;
    }

    h1 {
        margin: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .mat-icon {
        font-size: 2rem;
        height: 2rem;
        width: 2rem;
    }

    &__button {
        margin-left: auto;

        a {
            all: unset;
        }
    }
}