<div class="party-display__container">

    <app-party-formation [selectedParties]="selectedParties"></app-party-formation>

    <div class="party-display__share">
        <mat-form-field>
            <input matInput [(ngModel)]="name" placeholder="naam van jouw regering">
        </mat-form-field>

        <div class="party-display__socials">
            <button (click)="share('whatsapp')" class="party-display__social whatsapp"><i
                    class="fab fa-whatsapp"></i></button>
            <button (click)="share('link')" class="party-display__social share"><i
                    class="fa-solid fa-share"></i></button>
        </div>
    </div>
</div>