:host {
    width: 100%;
    background-color: #686f78;
}

.party-display {

    &__container {
        align-items: center;
        background-color: #f0f0f0;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        margin: auto;
        height: 100%;
    }

    &__share {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto 0 1rem 0;
    }

    &__socials {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    &__social {
        border-radius: 50%;
        width: 45px;
        height: 45px;
        border: none;
        cursor: pointer;

        i {
            font-size: 1.5rem;
        }
    }
}
