/* You can add global styles to this file, and also import other style files */
@import '~@fortawesome/fontawesome-free/css/all.css';

html {
    height: 100vh;
}

body {
    height: 100%;
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
    box-sizing: border-box;
}

.mat-mdc-chip-set {
    // max-width: 250px;
}

.mat-mdc-chip-set-stacked .mdc-evolution-chip__action {
    flex-basis: 100%;
    justify-content: start;
}

.mat-mdc-chip-set-stacked .mdc-evolution-chip__graphic {
    flex-grow: 0;
}

.mdc-evolution-chip__text-label.mat-mdc-chip-action-label {
    width: 100%;
}

.whatsapp {
    background-color: #25D366;
    color: #fff;
}

.share {
    background-color: black;
    color: #fff;
}

.success-snackbar {
    color: white;
    --mdc-snackbar-container-color: rgb(14, 138, 14);

    .mat-simple-snackbar-action {
        color: white;
    }
}

.error-snackbar {
    max-width: max-content !important;
    color: white;
    --mdc-snackbar-container-color: rgb(222, 53, 53);
    border-color: #f5c6cb;

    .mat-simple-snackbar-action {
        color: white;
    }
}